<div><%= gravatar_image_tag(@user) %></div>

<h1><%= @user.username %></h1>

<%= render partial: 'friend_requests/form', locals: { user: @user } %>

<h2>Description</h2>
<p><%= simple_format @user.description %></p>


<h2>Friends</h2>
<%= render partial: "users/user", collection: @user.friends %>

<h2>Posts</h2>
<%= render partial: "posts/post", collection: @user.posts %>
