<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Brand + Homepage -->
    <%= link_to "Fakebook", root_path, class: "navbar-brand" %>
    <!-- Collapse menu functionality -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapse menu content -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        <!-- Navigaton links -->
        <li class="nav-item">
          <%= link_to 'Users', users_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Posts', posts_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Profile', profile_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to notifications_path, class: "nav-link" do %>
            Notifications
            <% unread_notifications =  current_user.notifications.unread %>
            <% if unread_notifications.any? %>
              <span class="badge rounded-pill text-bg-danger">
                <%= unread_notifications.count %>
              </span>
            <% end %>
          <% end %>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-sm-0">
        <!-- Dropdown menu -->
        <li class="nav-item dropdown-center">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Options
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li class="px-2">
              <!-- Sign Out button -->
              <%= button_to "Sign Out", destroy_user_session_path,
                method: :delete, data: { turbo: false },
                class: 'dropdown-item bg-danger text-white rounded-2' %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
