<div class="col-12 col-lg-6 col-xl-4 p-2">
  <div class="card h-100">
    <div class="card-header">
      <div class="card-title">
        <%= link_to post.user, user_path(post.user), class: "text-reset text-decoration-none" %>
      </div>
      <div class="card-subtitle text-muted">
        <%= link_to post_path(post), class: "text-reset text-decoration-none" do %>
          <%= time_ago_in_words post.created_at %> ago.
        <% end %>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text"><%= truncate post.body, length: 256 %></p>
    </div>
    <div class="card-footer">
      <div class="align-middle">
        <p class="d-inline me-2"><%= pluralize(post.likes.size, 'Like') %></p>
        <%= render partial: 'likes/form', locals: { post: post } %>
      </div>
      <hr>
      <p><%= pluralize(post.comments.size, 'Comment') %></p>
      <%= render partial: 'comments/form', locals: { post: post } %>
    </div>
  </div>
</div>
