<div class="col-12 col-lg-6 col-xl-4 p-2">
  <div class="card h-100">
    <div class="card-header">
      <div class="d-flex gap-2 align-items-center">
        <div class="h-100">
          <%= gravatar_image_tag(post.user, class: "rounded", size: 50) %>
        </div>
        <div>
          <div class="card-title">
            <%= post.user.username %>
          </div>
          <div class="card-subtitle text-muted">
            <%= time_ago_in_words post.created_at %> ago.
          </div>
        </div>
        <div class="dropdown ms-auto">
          <button class="btn btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Post Options">
            <%= bootstrap_icon("list") %>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to "View user profile", user_path(post.user), class: "dropdown-item" %></li>
            <li><%= link_to "View Post", post_path(post), class: "dropdown-item" %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text"><%= truncate post.body, length: 256 %></p>
    </div>
    <div class="card-footer">
      <div class="hstack gap-2">
        <div class="vstack gap-1">
          <%= render partial: "likes/modal", locals: { post: post } %>
          <%= render partial: "likes/form", locals: { post: post, klass: "w-100" } %>
        </div>
        <div class="vstack gap-1">
          <div class="text-end"><%= pluralize(post.comments.size, "Comment") %></div>
          <%= render partial: "comments/modal", locals: { post: post } %>
        </div>
      </div>
    </div>
  </div>
</div>
