<div class="row g-4">
  <div class="col-12 col-lg-8">
    <h4><%= @post.user.username %></h4>
    <p class="card-subtitle text-muted">
      <%= link_to post_path(@post), class: "text-reset text-decoration-none" do %>
        <%= time_ago_in_words @post.created_at %> ago.
      <% end %>
    </p>
    <div>
      <%= @post.body %>
    </div>
    <hr>
    <div class="hstack gap-2">
      <%= render partial: 'likes/modal', locals: { post: @post } %>
      <%= render partial: 'likes/form', locals: { post: @post } %>
    </div>
  </div>
  <div class="col">
    <h4><%= pluralize(@post.comments.size, 'comment') %></h4>
    <hr>
    <%= render partial: 'comments/form', locals: { post: @post } %>
    <hr>
    <div class="vstack gap-3">
      <%= render partial: 'comments/comment', collection: @post.comments.newest_first, as: :comment %>
    </div>
  </div>
</div>
